* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.navbar {
    background: #9ACBF6;
    height: 80 px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    margin-bottom: 0px;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: blue;
    background-image: linear-gradient(to top, blue 0%, white 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem; 
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
    width: 100%;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: blue;
    color: #fff;
}

.button:hover {
    background: #2a9df4;
    transition: all 0.5s ease;
}

.navbar__links:hover {
    color: blue;
    transition: all 0.5s ease;
}

/*
    This next portion will essentially hide the navbar for mobile users. You
    will click on the three dots, and navigate to a screen from there
*/
@media screen and (max-width: 960px) {
    .navbar__container {
        display:flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0; 
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #9ACBF6;
    }

    /*
        Javascript will trigger the navbar
    */
    .navbar__menu.active {
        background: #9ACBF6;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display:table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    /*
        This is for the navbar toggle in the righthand corner
    */
    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    } 

    /*
        Targeting each individual bar (Helps with the animation)
    */
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Hero Section CSS */
.main {
    background-color: white;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Essentially a 50/50 split */
    align-items: center;
    justify-self: center;
    height: 50vh;
    background-color: white;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    margin-bottom: 2rem;
}

@keyframes slideInRight {
    from {
        transform: translateX(600px);
    }

    to {
        transform: translateX(0);
    }
}


.main__content h1 {
    font-size: 4rem;
    background-color: blue;
    background-image: linear-gradient(to top, blue 0%, white 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    animation-name: slideInRight; /* For selecting the animation you want to use for an element */
    animation-duration: 1s;
}

.main__content h2 {
    font-size: 4rem;
    background-color: blue;
    background-image: linear-gradient(to top, #9ACBF6 0%, white 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    animation-name: slideInRight; /* For selecting the animation you want to use for an element */
    animation-duration: 1s;
}

@keyframes slideUp {
    from {
        transform: translateY(1200px);
    }

    to {
        transform: translateY(0);
    }
}


.main__content p {
    margin-top: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
    color: blue;

    animation-name: slideUp; /* For selecting the animation you want to use for an element */
    animation-duration: 1s;
}

.main__img--container {
    text-align: center;
}

/* Image Animation */
@keyframes imgSlideInLeft {
    from {
        transform: translateX(-600px);
    }

    to {
        transform: translateX(0);
    }
}

#main__img {
    height: 40%;
    width: 40%;

    animation-name: imgSlideInLeft; /* For selecting the animation you want to use for an element */
    animation-duration: 1s;
    animation-timing-function: ;
    animation-delay: ;
    animation-iteration-count: ;
    animation-direction: ;
    animation-fill-mode: ;

}

/* Mobile Responsive */
@media screen and (max-width: 1200px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 3rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
    }

    .main__content h2 {
        font-size: 3rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .main__img--container {
        text-align: center;
        margin-bottom: 0rem;
    }

    #main__img {
        height: 25%;
        width: 25%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
    .main__content {
        text-align: center;
        margin-bottom: 3rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
    }

    .main__content h2 {
        font-size: 3rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 2rem;
    }
} 

@media screen and (max-width: 480px) {
    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2 {
        font-size: 2rem;
    }

    .main__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/* Services Section CSS*/
.services {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh; 
    width: 100%;
    margin-bottom: 2rem;
}


.services button {
    /* background-image: linear-gradient(to right, #2a9df4 0%, white 50%,
    blue 100%
    ); */
    font-size: 2rem;
    background: blue;  
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
} 

/* Project button */

/* Since I want there to be a hover effect, this section will help with that */
.proj__button a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.proj__button:after {
    position: absolute;
    content: ''; 
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #2a9df4;
    transition: all 0.5s;
    border-radius: 4px;
}

.proj__button:hover {
    color: #fff;
}

.proj__button:hover:after {
    width: 100%;
}

/* Skills button */
/* Since I want there to be a hover effect, this section will help with that */
.skill__button a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.skill__button:after {
    position: absolute;
    content: ''; 
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #2a9df4;
    transition: all 0.5s;
    border-radius: 4px;
}

.skill__button:hover {
    color: #fff;
}

.skill__button:hover:after {
    width: 100%;
}

/* Course button */
/* Since I want there to be a hover effect, this section will help with that */
.relCors__button a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.relCors__button:after {
    position: absolute;
    content: ''; 
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #2a9df4;
    transition: all 0.5s;
    border-radius: 4px;
}

.relCors__button:hover {
    color: #fff;
}

.relCors__button:hover:after {
    width: 100%;
}

/* Mobile responsive buttons */
@media screen and (max-width: 1000px) {

    .services {
        margin-top: 0rem;
    }
}

@media screen and (max-width: 1200px) {
    .services button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }

    .services {
        margin-bottom: 5rem;
    }
}

/* Footer CSS */
.footer__container {
    background-color: #9ACBF6;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2 {
    margin-bottom: 16px;
}

.footer__link--items > h2 {
    color: #fff;
}

.footer__link--items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items p {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
    color: blue;
    transition: 0.7s ease-out;
}

@media screen and (max-width: 768px) {
    .footer__links {
        padding-top: 0.5rem;
        display: grid;

    }

    .footer__link--wrapper {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footer__links--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}

/* 

About Me Page 

*/

/* Left Side */

.aboutMe {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
}

.title {
    width: 100%;
    margin: 0 2rem;
    text-align: center;
}

.title h1 {
    font-size: 4rem;
    background-color: blue;
    background-image: linear-gradient(to top, blue 0%, white 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.aboutMe h2 {
    color: blue;
    font-size: 2.5rem;
}

/* Introduction */

.intro {
    display: flex;
    width: 100%;
    margin-top: 2rem;
    margin-left: 100px;
}

.intPics {
    display: flex;
    width: 30%;
    margin-right: 47px;
    margin-left: 50px;
    height: 150px;
}

#pfp__img {
    height: 100%;
    margin-right: 50px;
}

.mailSec {
    height: 100%;
    justify-content: center;
}

#email__img {
    height: 100%;
}

.intText {
    text-align: center;
    width: 55%;
}

.aboutMe p {
    font-size: 1.5rem;
    color: blue;
}

/* Programming Experience */

.progExp {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    margin-left: 100px;
}

.progPics {
    display: flex;
    width: 30%;
    margin-right: 100px;
    height: 200px;
    margin-top: 2rem;
}

#java__img {
    height: 100%;
    margin-right: 50px;
}

#cplus__img {
    height: 100%;
}

.progText1 {
    text-align: center;
    width: 55%;
}

/* Why I'm creating the website */


/* Mobile Responsiveness */
@media screen and (max-width: 768px) {
    .title {
        margin: 0;
    }

    .aboutMe h2 {
        font-size: 
    }

    .intro {
        display: grid;
        margin-top: 1rem;
    }

    .intPics {
        margin-bottom: 1rem;
        height: 150px;
        width: 100%;
        justify-content: center;
    }
    
    



}
/*
.leftImgs {
    width: 25%;
    height: 100%;
    margin: 6rem 2rem;
    justify-content: center;
}

#pfp__img {
    height: 40%;
    width: 100%;
}

#email__img {
    margin-top: 5rem;
    height: 40%;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .aboutMe {
        display: grid;
        grid-template-columns: auto;
    }

    .leftImgs {
        display: flex;
        width: 100%;
        margin: 0rem 1.5rem;
    }

    #pfp__img {
        height: 100%;
        width: 40%;
        margin-right: 6rem;
    }

    #email__img {
        margin-top: 0rem;
        height: 100%;
        width: 40%;
        margin-left: 6rem;
    }
}


.Description {
    width: 40%;
    height: 100%;
    margin: 1rem 2rem;
    text-align: center;
}

.Description h1 {
    font-size: 4rem;
    background-color: blue;
    background-image: linear-gradient(to top, blue 0%, white 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    margin-bottom: 2.5rem;
}

.Description p {
    font-size: 2rem;
    padding-bottom: 1rem;
}

*/